version: "3.8"

services:
  postgres:
    image: postgres:16
    container_name: core-banking-postgres
    restart: always
    environment:
      POSTGRES_DB: core_banking
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: