spring:
  application:
    name: core-banking

  datasource:
    url: jdbc:postgresql://localhost:5433/core_banking
    username: app_user
    password: app123

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html

server:
  port: 8080
