spring:
  application:
    name: core-banking

  datasource:
    url: jdbc:postgresql://localhost:5433/core_banking
    username: app_user
    password: app123

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
